@import 'tailwindcss';
@import '../../public/fonts/yekanbakh/yekanbakh-font.css';
@import '../../public/fonts/morabba-font/morabba-font.css';
@import '../../public/fonts/stretch-pro-font/stretch-pro-font.css';

@utility container {
  @apply mx-auto w-[80%] max-w-360 lg:w-[90%];
}

@utility bg-hatching {
  background-image: repeating-linear-gradient(
    125deg,
    transparent,
    transparent 14px,
    #00977680 15px
  );
}

@utility rounded-box-rtl {
  border-radius: 8px 20px 20px 20px;
  overflow: hidden;
}

@utility rounded-box-ltr {
  border-radius: 20px 8px 20px 20px;
  overflow: hidden;
}

@theme {
  /* Colors */
  --color-primary: #0efdc2;
  --color-secondary: #54595f;
  --color-blackColor: #0f0f0f;
  --color-mainColor: #0dfdc1;
  --color-paragraph: #ffffffb3;
  --color-foreground: #ffffff08;
  --color-box: #161616;

  /* Fonts */
  --font-yekanBakh: YekanBakh, sans-serif;
  --font-morabba: Morabba, sans-serif;
  --font-stretchPro: StretchPro, sans-serif;
}

body {
  @apply bg-blackColor font-yekanBakh font-medium text-white;
}
