@import 'tailwindcss';

@font-face {
  font-family: yekan;
  src: url(../../public/fonts/BYekan.ttf) format('truetype-variations');
  font-weight: normal;
}

@font-face {
  font-family: yekan;
  src: url(../../public/fonts/BYekan-Bold.ttf) format('truetype-variations');
  font-weight: bold;
}

@utility container {
  @apply mx-auto w-[80%] max-w-360 lg:w-[90%];
}

@utility bg-hatching {
  background-image: repeating-linear-gradient(
    125deg,
    transparent,
    transparent 14px,
    #00977680 15px
  );
}

@utility rounded-box-rtl {
  border-radius: 8px 20px 20px 20px;
  overflow: hidden;
}

@utility rounded-box-ltr {
  border-radius: 20px 8px 20px 20px;
  overflow: hidden;
}

@theme {
  /* Colors */
  --color-primary: #0efdc2;
  --color-secondary: #54595f;
  --color-blackColor: #0f0f0f;
  --color-mainColor: #0dfdc1;
  --color-paragraph: #ffffffb3;
  --color-foreground: #ffffff08;
  --color-box: #161616;

  /* Fonts */
  --font-yekan: yekan, sans-serif;
}

body {
  @apply bg-blackColor font-yekan text-white;
}
